# PYTHON
.venv/
__pycache__/
*.pyc

# SECRETS
.env
*.json
!schema.json
.dlt/secrets.toml
.dlt/
.venv/
__pycache__/
*.pyc
target/
logs/


# DBT
.DS_Store
Thumbs.db
dbt_packages/

# IDE
.vscode/
.idea/
